<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <add key="SelectedDevice" value="U are U 4500 Fingerprint Reader" />
  </appSettings>
  <configSections>
    <!--PublicKeyToken created using the Secp256k1 elliptical curve with the Dynamic blockchain base58 encdoing rules and the private key is stored by HarmonIQ Health Systems for digital signatures if needed-->
    <section name="BiometricDevices" 
             type="NoID.Biometrics.Managers.BiometricDevices, NoID.Biometrics.Managers, Version=0.17.5.31, Culture=neutral, PublicKeyToken=DEKnRm7AcNKcZ5PkihqEomUYxN4W7nWr1k" />
  </configSections>
  
  <BiometricDevices>
    <fingerPrintDevice>
      <Device name="U are U 4500 Fingerprint Reader" deviceType="Fingerprint Reader" manufacturerName="Digital Persona" driverName="DPUruNet" 
           driverLocation="C:\Windows\assembly\GAC_MSIL\DPUruNet\1.0.0.1__7f32ef930fec5e5f\DPUruNet.dll" driverDownloadURL="https://www.noidcentral.com/devices/DPUruNet.dll.7z"/>
    </fingerPrintDevice>
  </BiometricDevices>

</configuration>