<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <!-- Application Role changes the UI's function and target device -->
      <add key="TestEndPoint" value="http://localhost:51585/ReceiveFHIR.ashx"></add>
      <add key="TestUserName" value="DummyUser"></add>
      <add key="TestPassword" value="DummyPassword"></add>
    </appSettings>
</configuration>