<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <!-- Application Role changes the UI's function and target device -->
      <!--add key="FHIREndPoint" value="https://hn1.noidtest.net/noid.network.services/ReceiveFHIR.ashx"></add-->
      <!--add key="FHIREndPoint" value="http://localhost/noid.network.services/ReceiveFHIR.ashx"></add-->
      <add key="FHIREndPoint" value="http://localhost:51585/ReceiveFHIR.ashx"></add>
      <!--add key="PatentCheckinUri" value="http://localhost:51585/ReceiveFHIR.ashx"></add-->
      <add key="PatentCheckinUri" value="http://localhost/noid.network.services/ReceiveFHIR.ashx"></add>
      <add key="PendingPatientsUri" value="http://localhost/noid.network.services/PatientLists.ashx"></add>
      <add key="NoIDServiceName" value="FHIRWebServer"></add>
    </appSettings>
</configuration>