<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <!-- Application Role changes the UI's function and target device -->
      <!--add key="FHIREndPoint" value="https://hn1.noidtest.net/noid.network.services/ReceiveFHIR.ashx"></add-->
      <!--add key="FHIREndPoint" value="http://localhost/noid.network.services/ReceiveFHIR.ashx"></add-->
      <add key="FHIREndPoint" value="http://localhost:51585/ReceiveFHIR.ashx"></add>
      <!--add key="PatentCheckinUri" value="http://localhost/noid.network.services/ReceiveFHIR.ashx"></add>
      <add key="PendingPatientsUri" value="http://localhost/noid.network.services/PatientLists.ashx"></add>
      <add key="SearchBiometricsUri" value="http://localhost/noid.network.services/SearchBiometrics.ashx"></add-->
      <add key="PatentCheckinUri" value="http://localhost:51585/AddNewPatient.ashx"></add>
      <add key="PendingPatientsUri" value="http://localhost:51585/PatientLists.ashx"></add>
      <add key="SearchBiometricsUri" value="http://localhost:51585/SearchBiometrics.ashx"></add>
      <add key="NoIDServiceName" value="FHIRWebServer"></add>
      <add key="NoIDMongoDBAddress" value="mongodb://localhost/noid" />
      <add key="SparkMongoDBAddress" value="mongodb://localhost/spark" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>