<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <!--add key="approle" value="enrollment-kiosk"></add>-->
    <add key="approle" value="enrollment-pc"></add>
    <!--add key="approle" value="identity-kiosk"></add>-->
    <!--add key="approle" value="identity-pc"></add>-->
    <!--add key="approle" value="identity-kiosk"></add>-->
    <!--add key="approle" value="identity-pc"></add>-->
    <add key="chainDNS_Root" value="noid://noidtest.net"></add>
    <!--add key="chainDNS_Root" value="noid://noidtest.be"></add>-->
    <add key="chainDNS_Verify" value="https://verify.noidtest.net"></add>
    <add key="ServerAddress" value="https://fhir.noidtest.net"></add>
  </appSettings>
</configuration>
