<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <!-- Application Role changes the UI's function and target device -->
    <add key="approle" value="enrollment-pc"></add>
    <!--add key="approle" value="enrollment-kiosk"></add>-->
    <!--add key="approle" value="identity-kiosk"></add>-->
    <!--add key="approle" value="identity-pc"></add>-->
    <!--add key="approle" value="identity-kiosk"></add>-->
    <!--add key="approle" value="identity-pc"></add>-->
    <!-- Blockchain Information -->
    <add key="HealthcareNodeChainDNSRoot" value="noid://noidtest.net"></add>
    <!-- Internet Endpoint Information -->
    <add key="HealthcareNodeWeb" value="https://hn1.noidtest.net/noid"></add>
    <add key="HealthcareNodeChainVerifyAddress" value="https://hn1.noidtest.net/noid/verify.ashx"></add>
    <add key="HealthcareNodeFHIRAddress" value="https://hn1.noidtest.net/spark.fhir/fhir"></add>
    <add key="OrganizationName" value="CHIME Health Facility #1"></add>
  </appSettings>
</configuration>
