<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- Application Role changes the UI's function and target device -->
    <!--<add key="approle" value="provider-kiosk"></add>-->
    <add key="approle" value="patient-kiosk"></add>
    <!--add key="approle" value="provider-kiosk"></add>-->
    <!-- Blockchain Information -->
    <add key="HealthcareNodeChainDNSRoot" value="noid://noidtest.net"></add>
    <!-- Internet Endpoint Information -->
    <add key="HealthcareNodeWeb" value="https://hn1.noidtest.net/NoIDTest_20170625"></add>
    <add key="HealthcareNodeChainVerifyAddress" value="https://hn1.noidtest.net/noid/verify.ashx"></add>
    <add key="HealthcareNodeFHIRAddress" value="https://hn1.noidtest.net/noid.network.services/ReceiveFHIR.ashx"></add>
    <!--add key="HealthcareNodeFHIRAddress" value="http://localhost:51585/ReceiveFHIR.ashx"></add-->
    <add key="OrganizationName" value="CHIME Health Facility #1"></add>
    <add key="NoIDServiceName" value="FHIRWebServer"></add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="maxFingerprintScanAttempts" value="1" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>