[submodule "source/spark.fhir.server"]
	path = source/spark.fhir.server
	url = https://github.com/furore-fhir/spark.git
[submodule "source/blockchain/sequence"]
	path = source/blockchain/sequence
	url = https://github.com/duality-solutions/Sequence
