<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <!-- Location of the fingerprint minutia database used for searching -->
    <add key="DatabaseLocation" value="C:\MatchDatabase\Fingerprints"></add>
    <!-- Location of the database backup -->
    <add key="BackupLocation" value="C:\MatchDatabase\Fingerprints\Minutia.Data.Backups"></add>
    <!-- 
          Laterality SnoMedCode Map:
          Left = 419161000 
          Right = 419165000 
    -->
    <add key="Laterality" value="419161000"></add>
    <!-- Set To Left -->
    <!-- 
          CaptureSite SnoMedCode Map:
          IndexFinger = 48856004, // SnoMedCT Description: Skin structure of palmar surface of index finger
          MiddleFinger = 65271000, // SnoMedCT Description: Skin structure of palmar surface of middle finger
          RingFinger = 28404007, // SnoMedCT Description: Skin structure of palmar surface of ring finger
          LittleFinger = 43825009, // SnoMedCT Description: Skin structure of palmar surface of little finger
          Thumb = 72331001 // SnoMedCT Description: Skin structure of palmar surface of thumb
    -->
    <add key="CaptureSite" value="48856004"></add>
    <!-- Set To Index Finger -->
  </appSettings>
</configuration>