<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <!-- Local Organization Spark FHIR Server Endpoint Address -->
    <add key="SparkEndpointAddress" value="http://localhost/spark.fhir/fhir"></add>
    <!-- Location of the fingerprint minutia database used for searching -->
    <add key="DatabaseLocation" value="C:\MatchDatabase\Fingerprints"></add>
    <!-- Location of the database backup -->
    <add key="BackupLocation" value="C:\MatchDatabase\Fingerprints\Minutia.Data.Backups"></add>
    <!-- Organization name -->
    <add key="OrganizationName" value="CHIME Health Facility Alpha"></add>
    <!-- Domain name -->
    <add key="DomainName" value="noidtest.net"></add>
    <!-- NoID MongoDB Address -->
    <add key="NoIDMongoDBAddress" value="mongodb://localhost/noid" />
    <!-- NoID FHIR Server Address -->
    <add key="SparkMongoDBAddress" value="mongodb://localhost/spark" />
    <!--<add key="SparkMongoDBAddress" value="mongodb://username:password@localhost/spark" />-->
    <!-- Organization or Node Salt. NOTE! This is a test salt and not to be used for your deployed services-->
    <add key="NodeSalt" value="LUL1uysSEkxqBG48GasrXpDdE561NuK2fP" />
    <!-- Organization Data Destroy Key. NOTE! This is a test code and not to be used for your deployed services -->
    <add key="DestroyKey" value="TsnxNukeqYhtWV2uAsHiHMNcwwNWSQSkfdsHiHM1MyAwSTsV2uAYNcxqkfdnhtWwNWSQ" />
    <!-- Minimum Minutia Match Threshold Score That Is Accepted For Enrollment -->
    <add key="MinimumAcceptedMatchScore" value="30"></add>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>